<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <tr>
      <td>
            <div text-center>
                <img src="../../assets/png/1.png" style="width:50%;" alt="img">
            </div>
           
              <div text-center>
                  Salon at home for men
              </div>
           
      </td>
      <td>
          <div text-center>
              <img src="../../assets/png/2.png" style="width:50%;" alt="img">
          </div>
         
            <div text-center>
                Salon at home for women 
            </div>
           </td>
      <td>
          <div text-center>
              <img src="../../assets/png/3.png" style="width:50%;" alt="img">
          </div>
         
            <div text-center>
                Massage at home
            </div>
  
      </td>
    </tr>

    <tr>
        <td>
            <div text-center>
                <img src="../../assets/png/4.png" style="width:50%;" alt="img">
            </div>
           
              <div text-center>
                  Electrician , carpenter ,plumber
              </div>
     
        </td>
        <td>

            <div text-center>
                <img src="../../assets/png/5.png" style="width:50%;" alt="img">
            </div>
           
              <div text-center>
                  Appliances and electronics repair
              </div>
    
        </td>
        <td>

            <div text-center>
                <img src="../../assets/png/6.png" style="width:50%;" alt="img">
            </div>
           
              <div text-center>
                  cleaning
              </div>
          
        </td>
      </tr>

      <tr>
          <td>
              <div text-center>
                  <img src="../../assets/png/7.png" style="width:50%;" alt="img">
              </div>
             
                <div text-center>
                    painting
                </div>
            
          </td>
          <td>
              <div text-center>
                  <img src="../../assets/png/8.png" style="width:50%;" alt="img">
              </div>
             
                <div text-center>
                    Pest Control
                </div>
       
          </td>
          <td>
              <div text-center>
                  <img src="../../assets/png/9.png" style="width:50%;" alt="img">
              </div>
             
                <div text-center>
                    Fitness and yoga  
                </div>
        </tr>
  </table>

</ion-content>
