<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Tab2
    </ion-title>
    <ion-icon name="search" float-right></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-avatar>
            <img src="../../assets/png/1.png">
          </ion-avatar>&nbsp;&nbsp;
          <h6>Ac Service and Repair</h6>
        </ion-item>
      </ion-list>
      <ion-list>
          <ion-item>
            <ion-avatar>
              <img src="../../assets/png/2.png">
            </ion-avatar>&nbsp;&nbsp;
            <h6>RO or Water Purifier Repair</h6>
          </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
              <ion-avatar>
                <img src="../../assets/png/3.png">
              </ion-avatar>&nbsp;&nbsp;
              <h6>Washing machine Repair</h6>
            </ion-item>
          </ion-list>
          <ion-list>
              <ion-item>
                <ion-avatar>
                  <img src="../../assets/png/4.png">
                </ion-avatar>&nbsp;&nbsp;
                <h6>Refrigirator Repair</h6>
              </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                  <ion-avatar>
                    <img src="../../assets/png/5.png">
                  </ion-avatar>&nbsp;&nbsp;
                  <h6>Microwave Repair</h6>
                </ion-item>
              </ion-list>
              <ion-list>
                  <ion-item>
                    <ion-avatar>
                      <img src="../../assets/png/6.png">
                    </ion-avatar >&nbsp;&nbsp;
                    <h6>Chimney Repair</h6>
                  </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item>
                      <ion-avatar>
                        <img src="../../assets/png/7.png">
                      </ion-avatar>&nbsp;&nbsp;
                      <h6>Laptop Repair</h6>
                    </ion-item>
                  </ion-list>
                  <ion-list>
                      <ion-item>
                        <ion-avatar>
                          <img src="../../assets/png/8.png">
                        </ion-avatar>&nbsp;&nbsp;
                        <h6>Oven Repair</h6>
                      </ion-item>
                    </ion-list>
</ion-content>

  <!-- *ngFor="let image of images" -->
  <!-- *ngFor="let name of names" -->