<ion-header>
          <ion-toolbar color="dark">
                <ion-searchbar placeholder="Search for a service" color="light"></ion-searchbar>
          </ion-toolbar>
</ion-header>
<br>

<ion-content>
 
    <ion-slides>

        <ion-slide>
             <img src = "../../assets/images/287470.jpg" height="170" />
        </ion-slide>

        <ion-slide>
             <img src = "../../assets/images/402639324-coding-wallpapers.jpg" height="170"  />
        </ion-slide>

        <ion-slide>
              <img src = "../../assets/images/Computer-Science-HD-Backgrounds.jpg" height="170" />
        </ion-slide>

        <ion-slide>
              <img src = "../../assets/images/panther.jpg" height="170"  />
         </ion-slide>


    </ion-slides>
<br>

 <table>
          <tr>
            <td>
                  <div text-center>
                      <img src="../../assets/png/1.png" style="width:35%;" alt="img">
                      <h6><strong>Salon at home for men</strong></h6>
                  </div>
                 
                  
               
           </td>
           <td>
                  <div text-center>
                     <img src="../../assets/png/2.png" style="width:35%;" alt="img">
                     <h6><strong> Salon at home for women </strong></h6>
                  </div>
            
           </td>
           <td>
                <div text-center>
                    <img src="../../assets/png/3.png" style="width:40%;" alt="img">
                    <h6> <strong>Massage at home</strong></h6>
                </div>
            </td>
          </tr>
      
          <tr>
              <td>
                  <div text-center>
                      <img src="../../assets/png/4.png" style="width:40%;" alt="img">
                      <h6><strong>Electrician , carpenter ,plumber</strong></h6>
                  </div>

              </td>
              <td>
      
                  <div text-center>
                      <img src="../../assets/png/5.png" style="width:35%;" alt="img">
                      <h6> <strong>  Appliances and electronics repair</strong></h6>
                  </div>
          
              </td>
              <td>
      
                  <div text-center>
                      <img src="../../assets/png/6.png" style="width:40%; height: 10%; ; margin-bottom: 25px" alt="img">
                      <p><strong> cleaning</strong></p>
                  </div>
                
              </td>
            </tr>
      
            <tr>
                <td>
                    <div text-center>
                        <img src="../../assets/png/7.png" style="width:30%;" alt="img">
                        <p><strong>painting</strong></p>
                    </div>
                   
                  
                </td>
                <td>
                    <div text-center>
                        <img src="../../assets/png/8.png" style="width:30%;" alt="img">
                          <p><strong>Pest Control</strong></p>
                    </div>
             
                </td>
                <td>
                    <div text-center>
                        <img src="../../assets/png/9.png" style="width:30%; margin-top:20px" alt="img">
                        <p> <strong> Fitness and yoga  </strong></p>
                    </div>
              </tr>
        </table>
      

</ion-content>